<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv=Content-Language content=zh-cn>
  <meta name="keywords" content="关键词">
  <meta name="description" content="网站描述">

  <title>索斯光影</title>

  <link href="//cdn.bootcss.com/Swiper/3.1.2/css/swiper.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/resource/css/jquery.pagepiling.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/resource/css/global.css" media="screen" title="no title" charset="utf-8">
  <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
  <script src="//cdn.bootcss.com/Swiper/3.1.2/js/swiper.jquery.min.js"></script>
  <script src="/resource/js/jquery.pagepiling.min.js"></script>
  <script src="/resource/js/masonry.pkgd.min.js"></script>

</head>
