<%=include header.html%>
<body>
<%=include border.html%>

<%=include follow.html%>
<%=include contact.html%>
<%=include playvideo.html%>
<%=include news.html%>
<%=include menu.html%>

<div id="sourceWeb">
    <div class="section screen1">
        <%=include screen_1.html%>
    </div>
    <div class="section screen2">
        <%=include screen_2.html%>
    </div>
    <div class="section screen3">
        <%=include screen_3.html%>
    </div>
    <div class="section screen4">
        <%=include screen_4.html%>
    </div>
    <div class="section screen5">
        <%=include screen_5.html%>
    </div>
    <div class="section screen6">
        <%=include screen_6.html%>
    </div>
</div>
</body>

<script>
    $(document).ready(function() {
        $('#sourceWeb').fullpage({
            verticalCentered: false,
            scrollingSpeed: 800,
            easing: 'easeOutBounce',
//            css3:true,
            navigation: true,
            navigationPosition: 'right',
            navigationTooltips: ['index', 'SourceVideoWorks','Movie','Design','About','JoinUs'],
            menu: true,
            lockAnchors: false,
            anchors:['index', 'SourceVideoWorks','Movie','Design','About','JoinUs'],
            normalScrollElements: '#playvideo, #us, #playvideo',
            afterLoad: function(anchorLink, index){
                if(index == 3){
                    playModal.movieList=a;
                    swiperVideo.on('mouseover', function(e){
                        console.log(e);
                    })
                }
                if(index == 2){
                    works.show();
                }
            },
            onLeave: function(index, direction){
                if(index == 2){
                    works.hide();
                }
            }


        });
    });
</script>
<%=include footer.html%>
