<div id="newsModal" v-show="isModalShow" v-transition="newsModal" v-cloak>
    <div class="closeNewsModal" v-on="click:hide"></div>
    <ul class="newsCategory">
        <li>
            <p>资讯动态</p>
            <p>News tendency</p>
        </li>
        <li class="active">
            <p>正在做</p>
            <p>doing</p>
        </li>
        <li>
            <p>行业动态</p>
            <p>Industy trends</p>
        </li>
        <li>
            <p>更新</p>
            <p>update</p>
        </li>
    </ul>
    <ul class="newsList">
        <li>
            <time>2015/07/23</time>
            <p>23:59:34</p>
            <h2>索斯光影工作室最新电影<南方>拍摄</h2>
            <p>
                电影围绕了南方家庭一个女孩成长，和她父亲形象变化的一个故事。讲述了父亲奥古斯汀有着一颗无所不知又无所不能的聪慧大脑，小女孩埃斯特雷亚从来都不知道父亲有着怎样的过去，她唯一知道的是，南方，是父亲的故乡亦是归宿。 成年后，埃斯特雷亚对父亲的形象也在慢慢的产生着变化。秘密情人的暴露甚至让他失掉了作为一个丈夫最起码的忠诚。埃斯特雷亚将这一切都看在眼里，诸多的问题萦绕在她的心头......
            </p>
        </li>
        <li>
            <time>2015/07/23</time>
            <p>23:59:34</p>
            <h2>索斯光影工作室最新电影<南方>拍摄</h2>
            <p>
                电影围绕了南方家庭一个女孩成长，和她父亲形象变化的一个故事。讲述了父亲奥古斯汀有着一颗无所不知又无所不能的聪慧大脑，小女孩埃斯特雷亚从来都不知道父亲有着怎样的过去，她唯一知道的是，南方，是父亲的故乡亦是归宿。 成年后，埃斯特雷亚对父亲的形象也在慢慢的产生着变化。秘密情人的暴露甚至让他失掉了作为一个丈夫最起码的忠诚。埃斯特雷亚将这一切都看在眼里，诸多的问题萦绕在她的心头......
            </p>
        </li>
        <li>
            <time>2015/07/23</time>
            <p>23:59:34</p>
            <h2>索斯光影工作室最新电影<南方>拍摄</h2>
            <p>
                电影围绕了南方家庭一个女孩成长，和她父亲形象变化的一个故事。讲述了父亲奥古斯汀有着一颗无所不知又无所不能的聪慧大脑，小女孩埃斯特雷亚从来都不知道父亲有着怎样的过去，她唯一知道的是，南方，是父亲的故乡亦是归宿。 成年后，埃斯特雷亚对父亲的形象也在慢慢的产生着变化。秘密情人的暴露甚至让他失掉了作为一个丈夫最起码的忠诚。埃斯特雷亚将这一切都看在眼里，诸多的问题萦绕在她的心头......
            </p>
        </li>
        <li>
            <time>2015/07/23</time>
            <p>23:59:34</p>
            <h2>索斯光影工作室最新电影<南方>拍摄</h2>
            <p>
                电影围绕了南方家庭一个女孩成长，和她父亲形象变化的一个故事。讲述了父亲奥古斯汀有着一颗无所不知又无所不能的聪慧大脑，小女孩埃斯特雷亚从来都不知道父亲有着怎样的过去，她唯一知道的是，南方，是父亲的故乡亦是归宿。 成年后，埃斯特雷亚对父亲的形象也在慢慢的产生着变化。秘密情人的暴露甚至让他失掉了作为一个丈夫最起码的忠诚。埃斯特雷亚将这一切都看在眼里，诸多的问题萦绕在她的心头......
            </p>
        </li>
        <li>
            <time>2015/07/23</time>
            <p>23:59:34</p>
            <h2>索斯光影工作室最新电影<南方>拍摄</h2>
            <p>
                电影围绕了南方家庭一个女孩成长，和她父亲形象变化的一个故事。讲述了父亲奥古斯汀有着一颗无所不知又无所不能的聪慧大脑，小女孩埃斯特雷亚从来都不知道父亲有着怎样的过去，她唯一知道的是，南方，是父亲的故乡亦是归宿。 成年后，埃斯特雷亚对父亲的形象也在慢慢的产生着变化。秘密情人的暴露甚至让他失掉了作为一个丈夫最起码的忠诚。埃斯特雷亚将这一切都看在眼里，诸多的问题萦绕在她的心头......
            </p>
        </li>
    </ul>
</div>
<style>
    .newsModal-enter{
        -webkit-animation: slideInLeft .2s;;
        animation: slideInLeft .2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .newsModal-leave{
        -webkit-animation: slideOutLeft .2s;;
        animation: slideOutLeft .2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
</style>
<script>
    var newsModal = new Vue({
        el:"#newsModal",
        data:{
            isModalShow:false
        },
        methods:{
            show:function(){
                this.isModalShow = true;
            },
            hide:function(){
                this.isModalShow = false;
            }
        }
    })



</script>