<ul id="us">
    <li><img src="/resource/img/us/7.jpg" alt=""/></li>
    <li>
        <img src="/resource/img/us/8.jpg" alt=""/>
        <span>
            岩井俊二<br>
            导演
        </span>
    </li>
    <li><img src="/resource/img/us/9.jpg" alt=""/></li>
    <li><img src="/resource/img/us/1.jpg" alt=""/></li>
    <li><img src="/resource/img/us/2.jpg" alt=""/></li>
    <li><img src="/resource/img/us/3.jpg" alt=""/></li>
    <li><img src="/resource/img/us/4.jpg" alt=""/></li>
    <li><img src="/resource/img/us/5.jpg" alt=""/></li>
    <li><img src="/resource/img/us/6.jpg" alt=""/></li>
    <li><img src="/resource/img/us/10.jpg" alt=""/></li>
    <li><img src="/resource/img/us/11.jpg" alt=""/></li>
    <li>join us</li>
</ul>