<div class="gongsijieshao">
    <h2>Company Profile</h2>
    <h3>公司简介</h3>

    <div>
        <p>XX网站策划股份有限公司成立于20XX年,注册资金80万,是XX一家专业的网站策划公司。公司主要服务于中小企业,提供网站策划,网站设计制作建设,网络推广营销于一体的专业服务。公司以“专注网站,用心服务”为核心价值,希望通过我们的专业水平和不懈努力,重塑中小企业网络形象,为企业产品推广,文化建设传播提供服务指导。</p>
        <p>三年来,XX网站策划一直秉承以用户需求为核心,在专注XX本地市场开拓的同时,为超过一百家中小企业提供网站策划服务,优质、用心的服务赢得了众多企业的信赖和好评,在XX地区逐渐树立起公司良好品牌。公司不仅仅提供专业的网站策划服务,同时还建立了完善的售后服务体系,我们相信,一定能够实现与中小企业的互利共赢!</p>
    </div>
    <img src="/resource/img/ge.png"/>
    <h2 class="clearfix">Cooperative Partner</h2>
    <h3>合作伙伴</h3>
    <div class="friendsLink">

    </div>
    <!--<ul class="friendsLink">-->
        <!--<li><img src="/resource/img/link/1.png" alt=""/></li>-->
        <!--<li><img src="/resource/img/link/2.png" alt=""/></li>-->
        <!--<li><img src="/resource/img/link/3.png" alt=""/></li>-->
        <!--<li><img src="/resource/img/link/5.png" alt=""/></li>-->
        <!--<li><img src="/resource/img/link/6.png" alt=""/></li>-->
        <!--<li><img src="/resource/img/link/7.png" alt=""/></li>-->
        <!--<li><img src="/resource/img/link/8.png" alt=""/></li>-->
        <!--<li><img src="/resource/img/link/9.png" alt=""/></li>-->
        <!--<li><img src="/resource/img/link/10.png" alt=""/></li>-->
        <!--<li><img src="/resource/img/link/11.png" alt=""/></li>-->
        <!--<li><img src="/resource/img/link/12.png" alt=""/></li>-->
    <!--</ul>-->
</div>
