$global_bg:#0b0b0b;
$global_border:#000;
$global_gold:#d6b264;
$global_border_width:22px;

$global_font_color:#c4c4c4;
[v-cloak] {
  display: none
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  background: $global_bg;// url("../img/load.gif") no-repeat center;
  background-size: 120px;
  position: absolute;
  z-index: 2000;
}

.pace-inactive {
  //display: none;
  -webkit-animation: fadeOut .9s;;
  animation: fadeOut .9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.pace .pace-progress {
  background: $global_gold;
  position: fixed;
  z-index: 2000;
  top: 50%;
  margin-top:-1px;
  right: 100%;
  width: 100%;
  height: 2px;
  font-size: 12px;
}
.pace .pace-progress:after {
  content: attr(data-progress-text);
  position: fixed;
  text-align: center;
  right: 0;
  top: 10px;
  color: #ffffff;
  display: block;
}

@include font-face("din",font-files('DINPro-Light.otf'));
@include font-face("iconfont",
  font-files(
    'iconfont.eot',
    'iconfont.woff',woff,
    'iconfont.ttf',ttf,
    'iconfont.svg',svg
  )
);
.iconfont{
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

html{background: $global_bg;}
a{text-decoration: none;}
.topMenu{
  color: $global_font_color;
  display: block;
  position: fixed;
  top: 40px;
  z-index: 1000;
  font-size: 14px;
}
.border{
  background: $global_border;
  position: fixed;
  z-index: 1000;
}
.b_left, .b_right{
  width: $global_border_width;
  height: 100%;
}
.b_top, .b_bottom{
  width: 100%;
  height: $global_border_width;
}
.b_top{
  top: 0;
}
.b_bottom{
  bottom:0;
  color: $global_font_color;
  text-align: center;
  line-height: $global_border_width;
  font-size: 8px;
}
.b_left{
  left: 0;
}
.b_right{
  right: 0;
}
#pp-nav{
  z-index: 1000;
}
#pp-nav.right{
  right: -2px;
}
