.designModal{
  display: none;
  width: 800px;
  height: 100%;
  background: $global_bg;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-shadow:  0 0 10px #000;
  -moz-box-shadow:  0 0 10px #000;
  box-shadow:  0 0 10px #000;
  z-index: 1000;
  img{
    height: 80%;
    display: block;
    margin: 60px auto;
  }
}