.screen4{
  background: url('../img/bg.jpg');
  overflow: auto;
}
.graphic{
  font-size: 160px;
  width: 100px;
  color: #ccc;
  position: absolute;
  top: 100px;
  left: 60px;
  font-family: 'din';
}

.grid-item {
  width: 400px; background: #0b0b0b;
  img{
    width: 100%;
  }
}
.grid-item--width2 { width: 400px; }