.screen3{
  background: $global_bg;
  .video-container{
    margin-top: 80px;
    width: calc(100% - 22px*2);
    margin-left: $global_border_width;
    .swiper-slide{
      max-height: 380px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;

        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
      }
      img:hover{
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%);
        filter: gray;
        transition: .6s -webkit-filter ease;
      }
    }
    .swiper-scrollbar{
      position: absolute;
      bottom: 16%;
      background: #2d2d2d;
    }
  }
}
#player{
  width: calc(100% - 22px*2);
  left: $global_border_width;
  height: 72px;
  background: #292929;
  position: absolute;
  bottom: $global_border_width;
  div{
    border-right: 1px solid rgba(255, 255, 255, .2);;
    width: 78px;
    height: 100%;
    float: left;
  }
}
